    #start-btn {
        width: 40%;
    }
    
    #camera {
        width: 360px;
        height: 250px;
        border: 1px solid grey;
        background-color: aliceblue;
    }
    
    #logo_img {
        width: 150px;
        border-radius: 100px;
    }
    
    #textbox {
        width: 300px;
    }
    
    h1 {
        font-family: algerian;
        font-size: 70px;
    }
    
    #hah {
        background-color: yellow;
        padding-top: 5px;
        margin-left: -100px;
        margin-right: -100px;
    }
    
    body {
        background-color: rgb(255, 255, 108);
    }
    
    img:hover {
        border-radius: 30px;
    }